{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'forum/style.css' %}">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.26.0/moment.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
  {% block navbar %}
    <nav class="navbar">
      <div class="navbar-left">
        <a class="navbar-link" href="{% url 'forum:index' %}">ImageBoard</a>
        <a class="nav-link" href="{% block navbar.board.link %}#{%endblock%}">
          {% block navbar.board.name %}Home{% endblock %}
        </a>
      </div>
      <div class="navbar-right">
        {% if user.is_authenticated %}
        <!-- update the following url -->
        <a class="nav-link" href="/accounts/login" >Login</a>
      {% else %}
        <a class="nav-link" href="/accounts/login" >Login</a>
      {% endif %}
      </div>

      </nav>
    {% endblock navbar %}

    <div class="content" id="content">
        {% block content %}{% endblock %}
    </div>
    <nav class="sidebar">
      {% block sidebar %}
      <div class="sidebar-header">
          <h3>Sidebar</h3>
      </div>
      {% endblock %}
    </nav>

</body>
</html>

{% block script %}{% endblock %}

{% block style %}
{% endblock %}